:root {
    --bg: #7e897c;
    --grey: #ccccc3;
    --pink: #ebece7;
    --purple: #dccec7;
}

body {
    background: white;
}

h1 {
    color: #7e897c;
    font-size: 3em;
}

p {
    color: var(--purple);
    font-size: 2em;
    font-weight: bold;
}

section {
    padding: 105px;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0 15px;
    display: block;
    background:#ccccc3;
}


.avatar {
    min-width: 50%;
}
img {

    max-width: 60%;
    border-radius: 50%;
    -webkit-filter: drop-shadow(10px 10px 10px rgba(0,0,0,0.9));
}
.banner img {
    width: 30px; 
    height: 30px;
}
.title {
    background-color: white;
}
.title {
    position: relative;
    display: flex;
    background: white;
    background-size: cover;
    justify-content: space-between;
    align-items: center;  
}
.side-tabs a {
    margin: 0px 20px 0 20px;
    cursor: pointer;
    border: none;
    padding: 10px;
    background-color: #ccccc3;
    color: white;
}

button {
	border-radius: 20px;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 30px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
    background-color: #ccccc3;
}
a {
    color: white;
}

.about {
    background-image: url('background.jpg');
     /* Add the blur effect */
    filter: blur(8px);
    -webkit-filter: blur(8px);

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

.about h2 {
    color: white;
    text-transform: uppercase;
    text-align: center;
}
.about p {
    color: white;
    font-size: 16px;
    font-weight: normal;
}
.projects {
    background-color: white;
}
.projects h2 {
    color: var(--purple);
    text-transform: uppercase;
    text-align: center;
}

.projects p {
    color: var(--purple);
    font-size: 16px;
    font-weight: normal;
    position: relative;
    display: flex;
}

.projects img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 5px solid var(--pink);
    position: relative;
    display: flex;
    /* float: left; */
    /* padding: 0.5em 0.5em 0.5em */
}

.blog h2 {
    color: #ccccc3;
    text-transform: uppercase;
    text-align: center;
    -moz-background-clip:  url(vid1.mp4);
}
.blog #background-video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    opacity: 50%;
  }

.blog img {
    width: 30%;
    height: 30%;
  }
.contact {
    background-color: var(--pink)
}

.projects a {
    border-radius: 20px;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 30px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
    background-color: #ccccc3;
    float: right;
}

.blog a {
    
}
.contact h2 {
    color: white;
    text-transform: uppercase;
    text-align: center;
}

.contact form {
    width: 100;
    padding: 40px 40px;
    box-sizing: border-box;
    height: 250px;
    background: white;
}

.contact form input {
    border: none;
    border-bottom: 2px solid #ccccc3;
    outline: none;
    height: 40px;
}

.contact form button {
        border-radius: 20px;
        border: 1px solid #b0d9ec;
        background-color: #ccccc3;
        color: #FFFFFF;
        font-size: 12px;
        font-weight: bold;
        padding: 12px 30px;
        letter-spacing: 1px;
        text-transform: uppercase;
        transition: transform 80ms ease-in;
}

  .collapsible-bar {
    position: fixed;
    left: 0;
    right: 50px;
  }
  .collapsible {
    background-color: white;
    color: white;
    cursor: pointer;
    padding: 10px;
    text-align: left;
    font-size: 18px;
    border: 3px solid #ccccc3;
  }
  .navbar-nav {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: white;
  }

  .nav-bar-left {
    text-align: center;
    overflow: auto;
    height: max-content;
    transition: max-height 0.2s ease-out;
  }

  @keyframes floatup {
    from {
      transform: translateY(14px);
      opacity: 0;
    }
    to {
      transform: translateY(0px);
      opacity: 1;
    }
  }

  @media screen and (max-width: 600px) {
    .nav-bar-left {
      width: 100%;
      border-radius: 0px;
    }
    .collapsible-bar {
      position: fixed;
      bottom: 0;
      right: 0;
      width: 100%;
    }
    .collapsible {
      width: 100%;
      border: 0px;
      border-top: 3px solid white;
      border-radius: 0px;
    }
  }